/reference
/logo reference
AI files/Bozza cose da creare.ai
qr-code.svg
*.tmp
/grafica/logo reference
/grafica/reference
adastra-fe/src/assets/temp/TimeTabs.jsx
grafica/Fix grafici.ai
.idea
/Poster e info
/grafica/banners
/grafica

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
