@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$custom-colors: (
  "buttons": #023f87,
  "text-field": #1c2047,
  "time-color": #070038,
  "subtext-time": #2261ae,
);
// Input Form
$input-bg: #1c2047;
$input-focus-bg: $input-bg;
$input-color: #fff;
$input-focus-border-color: $input-color;
$input-focus-color: $input-color;
$input-border-width: 0.1em;

$input-placeholder-color: $input-color;
$input-disabled-color: grey;
$input-disabled-border-color: $input-color;

// Table
$table-color: $input-color;
$table-bg: transparent;
$table-cell-padding-y: 1rem;
$nav-link-color: $input-color;
$nav-link-hover-color: $input-color;

// Accordion variable
$accordion-padding-y: 0rem;
$accordion-padding-x: 1rem;
$accordion-body-padding-y: $accordion-padding-y;

$accordion-bg: rgba(0, 0, 0, 0);
$accordion-border-width: 0;
$accordion-color: #fff;
$accordion-inner-border-radius: 0;

$accordion-button-color: #fff;
$accordion-button-bg: rgba(0, 0, 0, 0);
$accordion-button-active-bg: rgba(0, 0, 0, 0);
$accordion-button-active-color: #fff;
$accordion-button-padding-x: 0;
// fusv-disable
$accordion-button-focus-border-color: rgba(0, 0, 0, 0);
// fusv-enable
$accordion-button-focus-box-shadow: rgba(0, 0, 0, 0);

$accordion-icon-width: 0;
$accordion-icon-color: rgba(0, 0, 0, 0);
$accordion-icon-active-color: rgba(0, 0, 0, 0);

//Card
$card-color: $input-color;
$card-bg: #04001b;

//Dropdown menu
$dropdown-color: #fff;
$dropdown-bg: #000;
$dropdown-border-color: $dropdown-color;
$dropdown-border-width: 0.05rem;
$dropdown-inner-border-radius: 0;
$dropdown-link-color: $dropdown-color;
$dropdown-link-hover-color: $dropdown-bg;
$dropdown-link-hover-bg: $dropdown-color;
$dropdown-link-active-color: $dropdown-color;

//Modal
$modal-content-color: $input-color;
$modal-content-bg: $input-bg;
$modal-backdrop-opacity: 0.7;

//Carousel
$carousel-caption-width: 100%;
$carousel-caption-spacer: 0%;
//List Group
$list-group-color: $input-color;
$list-group-bg: $card-bg;
$list-group-hover-bg: #023f87;
$list-group-active-color: null;
$list-group-active-bg: null;
$list-group-action-color: $input-color;
$list-group-action-hover-color: $input-color;
$list-group-action-active-color: null;
$list-group-action-active-bg: null;

$theme-colors: map-merge($theme-colors, $custom-colors);
@import "bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
}

.montserrat-family {
  font-family: "Montserrat", sans-serif;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
}

h3 {
  font-size: 2em;
  font-weight: 400;
}

body,
.mobile-menu {
  background: linear-gradient(45deg, #04042c 0%, #010217 100%);
}
//NAVBAR
.mobile-menu {
  transition: all 200ms ease-in-out;
}

.cursor-pointer {
  cursor: pointer;
}

.dropdown-item {
  &:hover {
    background-color: #fff !important;
    color: #000 !important;
  }
  &:active {
    background-color: #2261ae !important;
    color: #fff !important;
  }
}

.navbar-list {
  list-style: none;

  li {
    &:hover {
      scale: 105%;
    }
  }
  a {
    text-decoration: none;
    color: #fff;
    transition: all 200ms ease-in-out;
  }
}

.btn-utente {
  background: transparent;
  border: none;
}

//INFORMAZIONI FILM
.date-and-time {
  font-size: 1.2em;
}
//Sottolineatura Nomi sezioni
.underline-gradient {
  background-image: linear-gradient(
    90deg,
    #c48429 15%,
    #fde778 30%,
    #c48429 55%,
    #fde778 75%,
    #c48429 100%
  );
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 4px;
  padding-bottom: 2px;
}

//SingleCardMovieCSS
.single-movie-title-section,
.single-movie-details-section {
  margin: 0;
}

.single-movie-title-section {
  color: #d4d4d4;
  font-size: 0.9rem;
}
.single-movie-details-section {
  color: #7e7e7e;
  font-size: 0.85rem;
}

//MovieStartTimeCSS
.golden-border {
  position: relative;
  background: linear-gradient(
    90deg,
    #c48429 15%,
    #fde778 30%,
    #c48429 55%,
    #fde778 75%,
    #c48429 100%
  );
  padding: 1px;
  transition: all 100ms ease-in-out;

  &:hover {
    scale: 105%;
  }
}

.single-movie-time,
.more-info-slider-button {
  background-image: linear-gradient(#023f87 0%, #070038 100%);
}

.golden-border,
.single-movie-time {
  border-radius: 1rem;
}

//Carosello Coming Soon
.arrow-left-bg,
.arrow-right-bg {
  padding: 0.7em 0.2em;
  background-color: #00001f86;
  margin-bottom: 1.5em;
}

.arrow-left,
.arrow-right {
  z-index: 10;
}
.hiding-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.smooth-carousel {
  img {
    transition: all 500ms ease;
    cursor: pointer;
    &:hover {
      transform: scale(0.95);
      z-index: 10;
      position: relative;
    }
  }
}

//Card More info CSS
.card-info-bg {
  background-image: linear-gradient(to top, #000000b5 0%, #00000000 40%);
  transition: all 200ms ease-in-out;
}

.card-info {
  transition: scale 200ms ease-in-out;

  &:hover {
    scale: 102%;
  }
}

// seat on total
.seat-total {
  --dimension: 30px;
  --radius: 5px;
  display: inline-block;
  margin-right: 10px;
  height: var(--dimension);
  width: var(--dimension);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.seat-red {
  background-color: rgb(203, 0, 0);
}
.seat-blue {
  background-color: #324ba6;
}
.seat-green {
  background-color: #007800;
}

//Theater Map

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  stroke-miterlimit: 10;
}

.cls-1,
.cls-3 {
  stroke: #324ba6;
}

.cls-1,
.cls-10,
.cls-7,
.cls-9 {
  fill: #fff;
}

.cls-1,
.cls-7,
.cls-9 {
  stroke-width: 1.97px;
}

.cls-2,
.cls-3,
.cls-4 {
  stroke-width: 3.94px;
}

.cls-2,
.cls-3,
.cls-4,
.cls-5 {
  fill: none;
}

.cls-2,
.cls-9 {
  stroke: #b83c2d;
}

.cls-11 {
  font-family: Poppins-Regular, Poppins;
  font-size: 26.66px;
}

.cls-4,
.cls-7 {
  stroke: #007800;
}

.cls-12 {
  fill: gray;
  font-family: Montserrat-SemiBold, Montserrat;
  font-size: 59.11px;
  font-variation-settings: "wght" 600;
  font-weight: 600;
}

.cls-5 {
  stroke: gray;
  stroke-linecap: round;
  stroke-width: 5.91px;
}

.cls-6 {
  fill: aqua;
  stroke: aqua;
}

.cls-8 {
  fill: #3a96d1;
  stroke: #3a96d1;
}

.letterAndNumbers {
  font-family: Montserrat-Medium, Montserrat;
  font-size: 25.5px;
  font-variation-settings: "wght" 500;
  font-weight: 500;
}

//Dropdown user menu Desktop
.dropdown-toggle::after {
  display: none !important;
}

.dropdown-item:active {
  background-color: #023f87 !important;
}

.dropdown-menu {
  margin-top: 0.5rem;
}

// Profile pic over

.image-container {
  position: relative;
  display: inline-block;
  img {
    display: block;
    width: 100%;
  }

  &:hover::after {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 100%;
  }

  &:hover .image-text {
    opacity: 1;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease;
    border-radius: 100%;
  }
}

.image-text {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.pic-dimension {
  min-width: 150px;
  max-width: 150px;
  max-height: 150px;
  min-height: 150px;
}

//Carousel
.carousel-caption {
  background-color: #00000095;
  text-align: start;
  padding-left: 2.4rem;
  box-shadow: 0px 0px 40px 40px #00000095;
}
